.mainRoot{
    margin:34px 40px;
}
.mainBanner{
    margin:34px 0;
    cursor: pointer;
}
.mainInner{
    display: flex;
    flex-direction: row;
}
.popup{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #101828;
    /* opacity: 0.8; */
    z-index: 1000000;
}
.mainInner2{
    margin:32px 64px;
}
.newsPannel{
    background-color: #161616;
    border-radius: 16px;
    margin:32px 0;
    padding:24px 8px;
}
.cardScoreList{
    border-radius: 8px;
    border: 1px solid #292929;
    background-color: #161616;
    margin:16px 24px;
    
}