.sidemenuRoot{
    background-color: #161616;
    padding:32px;
    max-height: 100%;
    min-height: 100%;
    max-height: 200%;
    height: 132vh;
    /* height: 100vh; */
}
.sidemenuTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
   
   
}
.sidemenuTitleText{
    font-family: "Gilroy";
    font-size: 20px;
    font-weight: 400;
    margin:0 8px;

}
.sidemenuDropdownTitle{
    font-family: Gilroy;
    font-size: 12px;
    font-weight: 400;
    color:#A2A2A2;
    margin:12px 0;
}
.dropdownSection{
    margin:52px 0 0 0;
}